In [1]:
import numpy as np
import pandas as pd

In [2]:
clf_model={'ncodpers':np.int32, 'sexo':np.object, 'age':np.object, 'renta':np.float64, 'ind_ahor_fin_ult1':np.uint8, 'ind_aval_fin_ult1':np.uint8, 
       'ind_cco_fin_ult1':np.uint8,'ind_cder_fin_ult1':np.uint8,
            'ind_cno_fin_ult1':np.uint8,'ind_ctju_fin_ult1':np.uint8,'ind_ctma_fin_ult1':np.uint8,
            'ind_ctop_fin_ult1':np.uint8,'ind_ctpp_fin_ult1':np.uint8,'ind_deco_fin_ult1':np.uint8,
            'ind_deme_fin_ult1':np.uint8,'ind_dela_fin_ult1':np.uint8,'ind_ecue_fin_ult1':np.uint8,
            'ind_fond_fin_ult1':np.uint8,'ind_hip_fin_ult1':np.uint8,'ind_plan_fin_ult1':np.uint8,
            'ind_pres_fin_ult1':np.uint8,'ind_reca_fin_ult1':np.uint8,'ind_tjcr_fin_ult1':np.uint8,
            'ind_valo_fin_ult1':np.uint8,'ind_viv_fin_ult1':np.uint8,
            'ind_recibo_ult1':np.uint8 }

In [3]:
#chunksize = 100000
#TextFileReader = pd.read_csv('Product_train.csv', sep=',', chunksize=chunksize, iterator=True, dtype=clf_model, low_memory=False)
#df = pd.concat(TextFileReader, ignore_index=True)
train_df=pd.read_csv('Product_train.csv', nrows=10000000, dtype=clf_model, low_memory=True)

C:\Development_Avecto\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 48 columns):
fecha_dato               object
ncodpers                 int32
ind_empleado             object
pais_residencia          object
sexo                     object
age                      object
fecha_alta               object
ind_nuevo                float64
antiguedad               object
indrel                   float64
ult_fec_cli_1t           object
indrel_1mes              object
tiprel_1mes              object
indresi                  object
indext                   object
conyuemp                 object
canal_entrada            object
indfall                  object
tipodom                  float64
cod_prov                 float64
nomprov                  object
ind_actividad_cliente    float64
renta                    float64
segmento                 object
ind_ahor_fin_ult1        uint8
ind_aval_fin_ult1        uint8
ind_cco_fin_ult1         uint8
ind_cder_fin_ult1        uint8
ind_cno_fin_ult1         uint8
ind_ctju_fin_ult1        uint8
ind_ctma_fin_ult1        uint8
ind_ctop_fin_ult1        uint8
ind_ctpp_fin_ult1        uint8
ind_deco_fin_ult1        uint8
ind_deme_fin_ult1        uint8
ind_dela_fin_ult1        uint8
ind_ecue_fin_ult1        uint8
ind_fond_fin_ult1        uint8
ind_hip_fin_ult1         uint8
ind_plan_fin_ult1        uint8
ind_pres_fin_ult1        uint8
ind_reca_fin_ult1        uint8
ind_tjcr_fin_ult1        uint8
ind_valo_fin_ult1        uint8
ind_viv_fin_ult1         uint8
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          uint8
dtypes: float64(8), int32(1), object(17), uint8(22)
memory usage: 2.1+ GB

In [5]:
%matplotlib inline

In [6]:
train_df.drop(['fecha_dato','ind_empleado','pais_residencia','fecha_alta','ind_nuevo','antiguedad','indrel','ult_fec_cli_1t','indrel_1mes','tiprel_1mes','indresi','indext','conyuemp','canal_entrada','indfall','tipodom','ind_actividad_cliente','segmento'], 1, inplace=True)

In [7]:
train_df.head()

,ncodpers,sexo,age,cod_prov,nomprov,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,1375586,H,35,29.0,MALAGA,87218.10,0,0,1,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1050611,V,23,13.0,CIUDAD REAL,35548.74,0,0,1,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,1050612,V,23,13.0,CIUDAD REAL,122179.11,0,0,1,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,1050613,H,22,50.0,ZARAGOZA,119775.54,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,1050614,V,23,50.0,ZARAGOZA,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [8]:
train_df['age'] = pd.to_numeric(train_df.age, errors='coerce')

In [9]:
train_df['renta'] = pd.to_numeric(train_df.renta, errors='coerce')

In [ ]:
#train_df.fillna(value=-99999.0, inplace=True)

In [ ]:
train_df.describe()

In [ ]:
train_df[train_df['age'] == -99999].age.value_counts()

In [ ]:
train_df.renta.plot(kind='box')

In [ ]:
train_df.age.plot(kind='box')

In [ ]:
train_df[train_df.renta != -99999].renta.plot(kind='box')

In [ ]:
#train_df.sexo.value_counts().plot(kind='bar')
pd.crosstab(train_df.cod_prov, train_df.sexo)

In [ ]:
train_df[train_df.renta != -99999].renta.plot(kind='hist', title='histogram for Gross Income', bins=100);

In [ ]:
#train_df[train_df.renta !=-99999].plot.scatter(x='age', y='renta', color='c', title='scatter plot : Age vs Income');

In [ ]:
train_df[train_df.renta == -99999].tail()

In [ ]:
train_df[train_df.renta != -99999].groupby(['sexo', 'renta']).age.median()

In [ ]:
train_df.age.dropna(inplace=True)

In [ ]:
train_df[train_df.renta !=-99999].plot.scatter(x='age', y='renta', color='c', title='scatter plot : Age vs Income');

In [ ]:
def getAgeGroup(age):
    age_group = {'kid' : 0, 
               'teen' : 1, 
               'youth' : 2, 
               'mid-age' : 3,
               'early40s' : 4,
               'early50s' : 5,
               'elder' : 6,
               'eldest' : 7,
                 'nan' : 'nan'
                 }    
        
    if age < 13:
        age_category='kid'
    if age >= 13 and age < 20:
        age_category='teen'
    if age >= 20 and age < 30:
        age_category='youth'
    if age >= 30 and age < 40:
        age_category='mid-age'
    if age >= 40 and age < 50:
        age_category='early40s'
    if age >= 50 and age < 60:
        age_category='early50s'
    if age >= 50 and age < 100:
        age_category='elder'
    if age >= 100:
        age_category='eldest'
    
    
    return age_group[age_category]

In [ ]:
#unit testing the function
getAgeGroup(223.0)

In [ ]:
train_df.age.map(lambda x : getAgeGroup(x)).unique()

In [ ]:
train_df['age_group'] = train_df.age.map(lambda x : getAgeGroup(x))

In [ ]:
train_df.head()

In [ ]:
train_df[train_df.renta !=-99999].plot.scatter(x='age_group', y='renta', color='c', title='scatter plot : Age vs Income');

In [ ]:
train_df[train_df.age_group.notnull()].boxplot('renta','age_group');

In [ ]:
train_df[train_df.age_group.notnull()].boxplot('age_group','sexo');

In [ ]:
train_df.groupby(['age_group','sexo']).renta.median()

In [ ]:
defaultRenta = train_df.groupby(['age_group','sexo']).renta.transform('median')
train_df.renta.fillna(defaultRenta, inplace=True)

In [ ]:
train_df.renta.unique()

In [ ]:
train_df.drop(['cod_prov','nomprov'], 1, inplace=True)

In [ ]:
def getIncomeGroup(renta):
    renta_group = {'normal' : 1, 
               'medium' : 2, 
               'medium-high' : 3, 
               'high' : 4,
               'very-high' : 5,
                 }    
        
    if renta < 50000:
        category='normal'
    if renta >= 50000 and renta < 150000:
        category='medium'
    if renta >= 150000 and renta < 300000:
        category='medium-high'
    if renta >= 300000 and renta < 750000:
        category='high'
    if renta >= 750000: 
        category='very-high'
    
    return renta_group[category]

In [ ]:
#unit testing the function
getIncomeGroup(2239000)

In [ ]:
train_df.renta.dropna(inplace=True)

In [ ]:
train_df.renta.map(lambda x : getIncomeGroup(x)).unique()

In [ ]:
train_df['income_group'] = train_df.renta.map(lambda x : getIncomeGroup(x))

In [ ]:
train_df.head()

In [ ]:
train_df[train_df.age_group.notnull()].boxplot('income_group','age_group');

In [ ]:
#train_df.groupby(['age_group', 'income_group']).ind_ahor_fin_ult1.count().plot(kind = 'bar')

In [ ]:
train_df.drop(['age','renta'], 1, inplace=True)

In [ ]:
train_df.head()

In [ ]:
#ind_ahor_fin_ult1        1
train_df[train_df.ind_ahor_fin_ult1 == 1][['ncodpers','sexo','age_group','income_group']].head()

In [ ]:
#needed for cosine similarity
from scipy.spatial.distance import cosine

In [ ]:
#Copy the items alone
data_test = train_df.iloc[:,2:26]

In [ ]:
data_test.columns

In [ ]:
data_test.iloc[:,2].head()

In [ ]:
data_test.tail()

In [ ]:
data_test.replace(0, 1e-10, inplace=True)

In [ ]:
data_test.dropna()

In [ ]:
data_test.head()

In [ ]:
#constructing item * item matrix
item_sim = pd.DataFrame(index=data_test.columns,columns=data_test.columns)

In [ ]:
item_sim.head()

In [ ]:
len(item_sim.columns)

In [ ]:
len(data_test.columns)

In [ ]:
item_sim.iloc[0:,0].head()

In [ ]:
#calculate cosine similarity between items based on data_test data
for i in range(0, len(item_sim.columns)):
    for j in range(0, len(item_sim.columns)):
        item_sim.iloc[i,j] = 1-cosine(data_test.iloc[:,i],data_test.iloc[:,j])

In [ ]:
item_sim.head()

In [ ]:
#alternate to cosine similarity using vector operations
norm_data = data_test / np.sqrt(np.square(data_test).sum(axis=0))

In [ ]:
item_sim = norm_data.transpose().dot(norm_data)

In [ ]:
#can verify that result is same as the one done using for loop
item_sim.tail()

In [ ]:
item_sim.fillna(1e-10, inplace = True)

In [ ]:
#purely item - item recommendations
item_neighbors = pd.DataFrame(index=item_sim.columns,columns=[range(1,25)])

In [ ]:
item_neighbors.head()

In [ ]:
#recommendations for item based on similarity - sorting order
for i in range(0,len(item_sim.columns)):
    item_neighbors.iloc[i,:24] = item_sim.iloc[0:,i].sort_values(ascending=False)[:24].index

In [ ]:
item_neighbors.head()

In [ ]:
def getProductRecommendation(product_name):
    for i in range(0, len(item_sim.columns)):
        if (str(item_neighbors.iloc[[i]].index.tolist()).split("'")[1] == product_name) :
            reco_list = item_neighbors.iloc[[i]].iloc[0,:10].tolist()
        
    return reco_list

In [ ]:
#purely based on item-item similarity values
getProductRecommendation("ind_ahor_fin_ult1")

In [ ]:
#to get neighbors of selected product
item_neighbors.iloc[0][0:25]

In [ ]:
col_name=train_df.columns.tolist()

In [ ]:
#newCols=col_name[0]+col_name[1]+col_name[-1]+col_name[-2]+col_name[2:]+col_name[:-2]
newcols = col_name[0:2] + col_name[-2:28] + col_name[2:26]

In [ ]:
train_df = train_df[newcols]

In [ ]:
train_df.head()

In [ ]:
train_df[train_df.income_group == 1].head()

In [ ]:
train_df.pivot_table(index='age_group',columns = 'income_group',values='ind_ahor_fin_ult1', aggfunc='sum').boxplot()

In [ ]:
#np.where(train_df.iloc[:,4:27] == 1)
train_df.iloc[0:,3].name

In [ ]:
#taking only userId, sexo and products into consideration
#user_model = train_df.iloc[:,0:28]
user_model = pd.DataFrame(index=train_df.index,columns=train_df.columns)

In [ ]:
user_model.head()

#taking only userId, sexo and products into consideration
user_model = train_df.iloc[:,0:26]

In [ ]:
#user_item_sim = pd.DataFrame(index=user_model.index,columns=user_model.columns)

In [ ]:
#retaining user IDs and sexo alone
user_item_sim.iloc[:,:2] = user_model.iloc[:,:2]

In [ ]:
user_item_sim.head()

In [ ]:
def getSimilarityScore(product_history, product_similarities):
   return sum(product_history*product_similarities)/sum(product_similarities)

In [ ]:
#Test logic - 
#1) Get the product as input and get similarity matrix calculated with respect to other products 
#2) Get the neighbors of input product
#3) Get the history of products purchased
#4) Calculate the score by normalization - history * similarity /sum(similarity)
#a = item_sim.loc['ind_ahor_fin_ult1'].sort_values(ascending=False)[1:25]
#user_item_sim.head()
#b=item_neighbors.loc['ind_ahor_fin_ult1'][1:25]
#data_test.loc[0,b]
#user_item_sim.columns[2]

In [ ]:
#incorporating above alogorithm as function - start j from 2, to skip user and sexo columns
#for i in range(0,len(user_item_sim.index)):
#    for j in range(2,len(user_item_sim.columns)):
#        user = user_item_sim.index[i]        
#        product = user_item_sim.columns[j]
 
#        if train_df.iloc[i][j] == 1:
#            user_item_sim.iloc[i][j] = 0
#        else:
#           product_top_names = item_neighbors.loc[product][1:10]
#           product_top_sims = item_sim.loc[product].sort_values(ascending=False)[1:10]
#           user_purchases = data_test.loc[user,product_top_names]
#
#            user_item_sim.iloc[i][j] = getSimilarityScore(user_purchases,product_top_sims)